.nav{
    grid-area: nav;
    background-color: aquamarine;
}
.item {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 300;
    margin: 10px;
    text-shadow: 1px 1px 1px blue;
    display: flex;
    margin: 2rem 0rem;
    padding: 1rem 5rem;
    align-items: center;
}

.nav a{
    text-decoration: none;
}

