.nav{
    grid-area: nav;
    background-color: aquamarine;

}
.nav div{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 300;
    margin: 10px;
    text-shadow: 1px 1px 1px blue;
}

.nav div a{
    text-decoration: none;
}