/**{*/
/*  margin: 0;*/
/*  padding: 0;*/
/*  box-sizing: border-box;*/
/*}*/

body {
    box-sizing: border-box;
    /*  background: linear-gradient(to right top, #1764df, #dedf2e);*/
    background: rgba(8, 102, 122, 0.49);
    display: flex;
    align-items: center;
    justify-content: center;
}

.app-wrapper {
    display: grid;

    grid-template-areas: 'header header' 'nav content';
    grid-gap: 10px;
    grid-template-columns: 350px 1fr;
    grid-template-rows: 200px 1fr;
    max-width: 1600px;
}

.app-wrapper-content {
    grid-area: content;
    background-color: antiquewhite;
    padding: inherit;
    max-width: 1400px;
    min-width: 1400px;
    /*border: 1px solid black;*/
}

