.app-wrapper{
  display: grid;
  grid-template-areas: 'header header'
                        'nav content';
  grid-gap: 5px;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 200px 1fr;
}

.header{
  grid-area: header;
  background-color: aqua;
  display: grid;
  grid-template-columns: 200px 1fr;
}
.header img{
  height:200px;
  width:200px;
  border-radius: 5px;
  animation: Eagle-logo-spin infinite 5s linear;
}
@keyframes Eagle-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.header h1{
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-align: center;
  font-size: 100px;
  color: red;
  text-shadow: 15px 15px 10px mintcream;
  letter-spacing: 30px;
}
.nav{
  grid-area: nav;
  background-color: aquamarine;
}
.nav div{
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 500;
  margin: 10px;
  border: 1px solid black;
  text-shadow: 1px 1px 1px blue;
}
.content{
  grid-area: content;
  background-color:coral;
  /*padding: 10px;*/
  /*border: 1px solid black;*/
}
.content img{
  width: 1200px;

}


/* .App {
  text-align: center;
}

.App-header {
  background-color: #c0c0c0;
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}*/

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */


/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
