.dialogs{
    display: grid;
    grid-template-columns: 2fr 3fr;

}

.dialog{
    margin-top: 50px;
}

.dialog .item {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    padding: 20px;
    marging: 30px;
    color: #1985ff;

}
.item a{
    text-decoration: none;
}

 .item a:hover{
    color: gold;
}

.messages{
    margin-top: 50px;
}

.messages .item{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    padding: 20px;
    marging: 30px;
    color: #4f5f51;
}

.messageArea{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    padding: 50px;
    marging: 50px;
    color: #4f5f51;
}