.dialogs{
    display: grid;
    grid-template-columns: 2fr 3fr;

}

.dialog{
    margin-top: 50px;
}

.item{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 30px;
    text-align: center;
    padding: 30px;
    marging: 30px;
}

.item a{

    color: #ff5d10;
    text-decoration: none;
}

a:hover{
    color: #112aff;
}

.messages{
    margin-top: 50px;
}

